<div class="col-12 col-md-10 offset-md-1">
<div class="row">
<div class="col-12 col-md-10 offset-md-1 mb-4">
    <div class='card card-detail-item {% if not blog_post.publish_date %} bg-dark text-light {% endif %}'>
        <div class="card-body">

            <div class="card-detail-header">
                <div class="card-detail-title">
                    <h2>{{ blog_post.title }}</h2>
                </div>
                <div class="card-detail-date">
                    <i class="fa fa-clock-o">
                    </i>
                    {{ blog_post.publish_date|date:"M Y" }}
                </div>
            </div>

            <div class="card-detail-content">
                <p class="card-text">
                    {{ blog_post.content|linebreaksbr }}
                </p>
            </div>

            {% if not blog_post.publish_date %}
                <div class="card-draft">
                    Draft 
                </div>
            {% endif %}

        </div>
    </div>
</div>
</div>
</div>